@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-fira-code);
  --font-kana: var(--font-kana);
  --font-emoji: var(--font-emoji);

  --color-tabi: var(--color-red-500);
  --color-contrast: var(--color-stone-100);

  --drop-shadow-tabi: 2px 2px 4px var(--color-stone-900);
}

@layer base {
  body {
    @apply h-screen w-screen overflow-hidden;
    @apply antialiased select-none;
    @apply bg-stone-800 font-sans text-stone-100;
  }

  ::selection {
    @apply bg-tabi text-stone-100;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2 bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-stone-700;
  }

  ::-webkit-scrollbar-corner {
    @apply hidden;
  }

  hr {
    @apply rounded-full border-2;
  }

  /* selection */
  .at-selection div {
    @apply bg-tabi/25;
  }

  /* bar cursor */
  .at-cursor-bar {
    @apply bg-tabi/5;
  }

  /* beat cursor */
  .at-cursor-beat {
    @apply bg-tabi/75;
  }

  /* currently played */
  .at-highlight * {
    @apply fill-tabi stroke-tabi;
  }

  /* hide watermark */
  .at-surface > div:last-child {
    display: none !important;
  }
}

@layer utilities {
  .scrollbar-gutter {
    scrollbar-gutter: stable both-edges;
  }

  .h-screen-safe {
    height: calc(100vh - var(--spacing) * 2);
  }

  .min-h-screen-safe {
    min-height: calc(100vh - var(--spacing) * 2);
  }

  .max-h-screen-safe {
    max-height: calc(100vh - var(--spacing) * 2);
  }

  .w-screen-safe {
    width: calc(100vw - var(--spacing) * 2);
  }

  .min-w-screen-safe {
    min-width: calc(100vw - var(--spacing) * 2);
  }

  .max-w-screen-safe {
    max-width: calc(100vw - var(--spacing) * 2);
  }
}

@layer components {
  .range {
    --progress: 1;

    background-image: linear-gradient(
      to right,
      var(--color-tabi) calc(var(--progress) * 100%),
      transparent 0
    );

    @apply m-0 h-1 cursor-pointer appearance-none;
    @apply rounded-full border-0 bg-stone-100 outline-0;
    @apply hover:brightness-110 active:brightness-110;
    @apply disabled:cursor-not-allowed disabled:brightness-50;

    &::-webkit-slider-thumb {
      @apply bg-tabi h-4 w-4 appearance-none rounded-full;
    }

    &::-moz-range-thumb {
      @apply bg-tabi h-4 w-4 appearance-none rounded-full;
    }
  }
}
